$per100:100%;
$globalnav-bg:#333333;
$globalnav-submenu-bg:#161617;
$globalnav-submenu-header-color:rgb(134, 134, 139);
$--r-globalnav-color-secondary:#E8E8ED;
$--r-globalnav-color-black:#1d1d1f;
$--r-globalnav-color-hover:#ffffff;
$globallink-bg-blue:#0071e3;
$globallink-blue:#0066cc;

$globalgray-span:#6e6e73
